/*
  Variables
*/

:root {
  --main-dark-red: #2c2424;
  --main-medium-red: #3e2f2f;
  --main-light-red: #4b3434;
}

/*
  Main CSS
*/

body {
  background-color: var(--main-dark-red);
  color: whitesmoke;
  font-family: "Segoe UI";
}

body, aside, footer, h1, h2, h3, .attraction {
  margin: 0px;
}

section {
  padding: 2px 0px;
  margin: 5px;
}

article {
  padding: 1.5%;
  margin: 0% 2%;
}

aside {
  width: 29%;
  float: right;
}

h1 {
  padding-left: 2%;
  padding-right: 2%;
  margin: 0em;
  font-size: 56px;
  text-shadow: black 0px 0 10px;
}

h2, h3 {
  padding: 8px;
  margin: 0em;
}

footer {
  padding: 0px;
  background-color: var(main-light-red);
  clear: both;
}

#content {
  width: 70%;
  float: left;
}

.center {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*
  Navigation Bar
*/

header, nav, nav ul li:hover, h2, h3 {
  background-color: var(--main-medium-red);
}

header, nav {
  padding: 10px;
}

nav ul {
  text-align: left;
  font-size: 1.2em;
}

nav ul li {
  padding: 1.5%;
  border: 2px solid white;
  border-radius: 10px;
  margin: 1%;
  list-style-type: none;
  display: inline;
  background-color: var(--main-light-red);
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-shadow: black 1px 0 5px;
}

#active {
  text-decoration: underline;
}

#logo {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
  margin-left:.5em;
  float: left;
}

/*
  Attraction page columns
*/

.attraction {
  width: 400px;
  border: 2px dashed var(--main-light-red);
  display: grid;
  grid-template-rows: 1fr;
  text-align: left;
}

.columns {
  gap: 50px;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

section.attractionCity {
  text-align: center;
}

section.attractionCity h2, section.attractionCity h3, section.attractionCity p {
  text-align: center;
}

section.attractionCity h2 {
  width: 75%;
  padding: 0px 30px 10px 30px;
  margin-top: 10px;
  font-size: 48px;
  display: inline-block;
}

section.attractionCity h3 {
  font-size: 28px;
}

/*
  Input Forms
*/

form {
  text-align: left;
}

label {
  width: 112px; 
  padding-right: 10px; 
  float: left;
  text-align: right;
}

input {
  width: 220px;
  padding: 5px;
  margin-left: 1em;
  margin-bottom: .5em;
}

input[type="radio"] {
  width: 15px;
}

input[type="checkbox"] {
  width: 15px;
}

.required {
  font-weight: bold;
  color: red;
}

#button {
  margin-left: 122px;
}

#button, #reset {
  margin-top: .5em;
  width: 8.15em;
  background-color: var(main-light-red);
  color: white;
  border: 2px solid white;
  font-size: 18px;
}
